@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');
:root
{
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  --bs:1px 1px 14px rgba(255, 255, 255, 0.518);
  --bs-soft: 0 0 3px #FFFFFF;
  --red:  #db3c3c;
  --red-soft: #ff5757;
  --white: rgb(255, 255, 255);
  --bs-button: 0 0 3px var(--red);
}

*{
  margin: 0;
  padding: 0;
}

.container{
  display: flex;
  padding: 20%;
  padding-top: 10%;
  padding-bottom: 1%;
}

.helloWorld {
  padding-left: 10%;
}
img {
  border-radius: 500%;
  width: 200px;
  background-color: var(--white);
}

.icon{

  background-image: linear-gradient(
    to top left,
    var(--red-soft) 50%,
    var(--white)
  );
  /* background-color: #ff5757; */
  width: 30px;
  height: 30px;
  display: flex; 
  align-items: center;
  justify-content: center; 
  transition: 0.7ms;
}

.icon:hover{

  background-image: linear-gradient(
  to top left,
  var(--red-soft) 90%,
  var(--red)
  );
  transform: scale(1.08);
  box-shadow: var(--bs-soft);
}



span {
  color: var(--red);
}

.typeWriting, .typeWriting2 {
  font-family: monospace;
  white-space: nowrap;
  overflow: hidden;
  border-right: 1px solid var(--white); 
  color: var(--white); 
}

.typeWriting {
  font-size: 36px;
  width: 0; /* Começa com largura zero */
  animation: digitarH1 4s steps(20) forwards, cursor 1s steps(1) infinite;
}

.typeWriting2 {
  font-size: 24px;
  opacity: 0; /* Começa invisível */
  width: 0; /* Começa com largura zero */
  animation: fadeIn 1s 5s forwards, digitarH2 4s 6s steps(18) forwards, cursor 1s steps(1) infinite;
}

.typeWriting::after,
.typeWriting2::after {
  content: '|'; /* O conteúdo do cursor */
  position: absolute;
  right: 0;
  top: 0;
  font-size: 16px; 
  color:var(--white); /* Cor do cursor */
  animation: cursor 1s steps(1) infinite;
}

/* Animação de escrita para h1 */
@keyframes digitarH1 {
  from { width: 0; }
  to { width: 15ch; } /* Ajuste o valor conforme o comprimento do texto */
}

/* Animação de escrita para h2 */
@keyframes digitarH2 {
  from { width: 0; }
  to { width: 15ch; } /* Ajuste o valor conforme o comprimento do texto */
}

/* Animação de fade-in */
@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

/* Animação do cursor piscando */
@keyframes cursor {
  0% { border-color: transparent; }
  50% { border-color: var(--white); }
  100% { border-color: transparent; }
}

.contacts {
  display: contents;
  direction: rtl;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 14px;
}

.button{

  border: 2px solid rgba(255, 0, 0, 0.5); 
  background: rgba(0, 0, 255, 0.0); 
  border-radius: 70px;
  padding: 14px;
  margin-top: 10px;
  margin-top: 0px;
  color: var(--red-soft);
  transition: 1.1ms;
}
.button:hover{
  color:  var(--red);
  transform: scale(1.06);
  box-shadow: var(--bs-button);
}

a{
  color: var(--red-soft);
  text-decoration: none;
}

#particles-js {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; /* Garante que as partículas fiquem atrás do conteúdo */
}


